%h2.text-center Nessa foto ao lado, quantos votos cada candidato teve?
.row
  .col-xs-12.col-md-2
    = form_for @entrada do |f|
      .form-group
        = f.label 'Dilma'
        = f.number_field :dilma, required: true, class: 'form-control'
      .form-group
        = f.label 'Aécio Neves'
        = f.number_field :aecio, required: true, class: 'form-control'
      .form-group
        = f.label @entrada.sessao.estado.governadors.first.nome
        = f.number_field :governador_1, required: true, class: 'form-control'
      .form-group
        = f.label @entrada.sessao.estado.governadors.last.nome
        = f.number_field :governador_2, required: true, class: 'form-control'
      / %button.btn.btn-default{:type => "submit"} Continuar
      = f.submit 'Continuar', class: 'btn btn-default btn-success btn-block'
      %p
      %button.btn.btn-warning.btn-block{:type => "submit"} BU problemático
      %p.small.text-center
        ID da imagem:
        = @imagem.id
  .col-xs-12.col-md-10
    .row
      .col-md-4
        .mag
          %img{:alt => "", "data-toggle" => "magnify", :src => "http://i.imgur.com/e2TgB2C.jpg"}
        / .mag
        /   %img{:alt => "", "data-toggle" => "magnify", :src => "http://i.imgur.com/GfEYMzo.jpg"}
        / .mag
        /   %img{:alt => "", "data-toggle" => "magnify", :src => "http://i.imgur.com/xvS2zLx.jpg"}


